<!-- CSS Custom file -->
<link rel="stylesheet" href="./assets/style.css">
<!-- Navigation Bar -->
<div class="mb-5"> <!-- Spacer to avoid content being hidden under fixed navbar -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{pageTitle}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{navTitle}}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {{#each navItems}}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{link}}">{{text}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End of Navigation Bar -->
<!-- Cover -->
<!-- End of Cover -->
<!-- Topics -->
<!-- End of Topics -->
<!-- Timeline API -->
<!-- End of Timeline API-->
<!-- Main Content Cards -->
<!-- Footer -->
  <footer>
    <p style="color: white;">Footer Content</p>
    {{#each footer}}
    <p style="color: white;">{{Title}}</p>
    {{/each}}
  </footer>
<!-- End of Footer -->